#intro{
	text-align: center;
	padding-top:100px;
	height:500px;
}

#proj{
	text-align: center;
	padding-top:100px;
	height:1000px;
	padding-bottom:50px;
}

#exp{
	text-align: center;
	padding-top:100px;
	height:500px;
}
#contact{
	text-align: center;
	padding-top:100px;
	height:600px;
}

#about{
	text-align: center;
	padding-top:100px;
	height:500px;
}

#esh-panel{
	align: center;
	display:none;
}

#java-panel{
	display:none;
}

#android-panel{
	display:none;
}

#book-panel{
	display:none;
}

#msc-div{
	height:350px;
}

